<!DOCTYPE html>
<html>
  <head>
    <title>Lista de Libros</title>
  </head>
  <body>
    <h1>Libros disponibles</h1>

    <div>
      {% for libro in libros %}
      <div>
        <h2>Libro N°{{ libro.id }}</h2>
        <div>
          <p>Título: {{ libro.titulo }}</p>
          <p>Descripción: {{ libro.descripcion }}</p>
          <p>Precio: $ {{ libro.precio }}</p>
          <br />
        </div>
      </div>
      {% empty %}
      <p>No hay libros disponibles</p>
      {% endfor %}
    </div>
  </body>
</html>
